<!-- BEGIN Home Brand Slider -->
{{> components/halothemes/home-brand-slider}}
<!-- END Home Brand Slider -->
<footer id="footer-wrapper">
    <div class="footerInfo">
        <div class="container">
            {{#if theme_settings.footer_info_message_html}}
                {{{theme_settings.footer_info_message_html}}}
            {{/if}}
        </div>
    </div>
    <div class="middle-footer">
        <!-- <div class="container themevale_service">
            <div class="col-sm-3">
                <p class="fa-icon"><i class="fa fa-truck" aria-hidden="true"></i></p>
                <h5>Worldwide Delivery</h5>
                <p class="text">Metus tellus ultricies et quam sit amet commodo odio diam a libero nulla facilisi suspendissous enim sodales lacinia neque commodo. </p>
            </div>
            <div class="col-sm-3">
                <p class="fa-icon"><i class="fa fa-credit-card" aria-hidden="true"></i></p>
                <h5>Secure Shopping</h5>
                <p class="text">Metus tellus ultricies et quam sit amet commodo odio diam a libero nulla facilisi suspendissous enim sodales lacinia neque commodo. </p>
            </div>
            <div class="col-sm-3">
                <p class="fa-icon"><i class="fa fa-shield" aria-hidden="true"></i></p>
                <h5>Shop with Confidence</h5>
                <p class="text">Metus tellus ultricies et quam sit amet commodo odio diam a libero nulla facilisi suspendissous enim sodales lacinia neque commodo. </p>
            </div>
            <div class="col-sm-3">
                <p class="fa-icon"><i class="fa fa-phone" aria-hidden="true"></i></p>
                <h5>24/7 Help Center</h5>
                <p class="text">Metus tellus ultricies et quam sit amet commodo odio diam a libero nulla facilisi suspendissous enim sodales lacinia neque commodo. </p>
            </div>
        </div> -->
        <div class="container">
            <div class="themevale_service">
                {{#if theme_settings.footer_service_item1_title}}
                <div class="service-item">
                    <div class="service-wrapper">
                        {{#if theme_settings.footer_service_item1_icon}}<i class="icon"><svg><use xlink:href="#{{theme_settings.footer_service_item1_icon}}"></use></svg></i>{{/if}}
                        <h3 class="title">{{theme_settings.footer_service_item1_title}}</h3>
                        {{#if theme_settings.footer_service_item1_text}}<p class="text">{{theme_settings.footer_service_item1_text}}</p>{{/if}}
                    </div>
                </div>
                {{/if}}
                {{#if theme_settings.footer_service_item2_title}}
                <div class="service-item">
                    <div class="service-wrapper">
                        {{#if theme_settings.footer_service_item2_icon}}<i class="icon"><svg><use xlink:href="#{{theme_settings.footer_service_item2_icon}}"></use></svg></i>{{/if}}
                        <h3 class="title">{{theme_settings.footer_service_item2_title}}</h3>
                        {{#if theme_settings.footer_service_item2_text}}<p class="text">{{theme_settings.footer_service_item2_text}}</p>{{/if}}
                    </div>
                </div>
                {{/if}}
                {{#if theme_settings.footer_service_item3_title}}
                <div class="service-item">
                    <div class="service-wrapper">
                        {{#if theme_settings.footer_service_item3_icon}}<i class="icon"><svg><use xlink:href="#{{theme_settings.footer_service_item3_icon}}"></use></svg></i>{{/if}}
                        <h3 class="title">{{theme_settings.footer_service_item3_title}}</h3>
                        {{#if theme_settings.footer_service_item3_text}}<p class="text">{{theme_settings.footer_service_item3_text}}</p>{{/if}}
                    </div>
                </div>
                {{/if}}
                {{#if theme_settings.footer_service_item4_title}}
                <div class="service-item">
                    <div class="service-wrapper">
                        {{#if theme_settings.footer_service_item4_icon}}<i class="icon"><svg><use xlink:href="#{{theme_settings.footer_service_item4_icon}}"></use></svg></i>{{/if}}
                        <h3 class="title">{{theme_settings.footer_service_item4_title}}</h3>
                        {{#if theme_settings.footer_service_item4_text}}<p class="text">{{theme_settings.footer_service_item4_text}}</p>{{/if}}
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    <section id="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-1 col-sm-2">
                    {{#if theme_settings.footer_column1_heading}}<h5>{{theme_settings.footer_column1_heading}}</h5>{{/if}}
                    <ul>
                        {{#if theme_settings.footer_column1_link1_text}}<li><a href="{{theme_settings.footer_column1_link1_url}}">{{theme_settings.footer_column1_link1_text}}</a></li>{{/if}}
                        {{#if theme_settings.footer_column1_link2_text}}<li><a href="{{theme_settings.footer_column1_link2_url}}">{{theme_settings.footer_column1_link2_text}}</a></li>{{/if}}
                        {{#if theme_settings.footer_column1_link3_text}}<li><a href="{{theme_settings.footer_column1_link3_url}}">{{theme_settings.footer_column1_link3_text}}</a></li>{{/if}}
                        {{#if theme_settings.footer_column1_link4_text}}<li><a href="{{theme_settings.footer_column1_link4_url}}">{{theme_settings.footer_column1_link4_text}}</a></li>{{/if}}
                        {{#if theme_settings.footer_column1_link5_text}}<li><a href="{{theme_settings.footer_column1_link5_url}}">{{theme_settings.footer_column1_link5_text}}</a></li>{{/if}}
                        {{#if theme_settings.footer_column1_link6_text}}<li><a href="{{theme_settings.footer_column1_link6_url}}">{{theme_settings.footer_column1_link6_text}}</a></li>{{/if}}
                        {{#if theme_settings.footer_column1_link7_text}}<li><a href="{{theme_settings.footer_column1_link7_url}}">{{theme_settings.footer_column1_link7_text}}</a></li>{{/if}}
                        {{#if theme_settings.footer_column1_link8_text}}<li><a href="{{theme_settings.footer_column1_link8_url}}">{{theme_settings.footer_column1_link8_text}}</a></li>{{/if}}
                    </ul>
                </div>
                <div class="col-2 col-sm-2">
                    {{#if theme_settings.footer_column2_heading}}<h5>{{theme_settings.footer_column2_heading}}</h5>{{/if}}
                    <ul>
                        {{#if theme_settings.footer_column2_link1_text}}<li><a href="{{theme_settings.footer_column2_link1_url}}">{{theme_settings.footer_column2_link1_text}}</a></li>{{/if}}
                        {{#if theme_settings.footer_column2_link2_text}}<li><a href="{{theme_settings.footer_column2_link2_url}}">{{theme_settings.footer_column2_link2_text}}</a></li>{{/if}}
                        {{#if theme_settings.footer_column2_link3_text}}<li><a href="{{theme_settings.footer_column2_link3_url}}">{{theme_settings.footer_column2_link3_text}}</a></li>{{/if}}
                        {{#if theme_settings.footer_column2_link4_text}}<li><a href="{{theme_settings.footer_column2_link4_url}}">{{theme_settings.footer_column2_link4_text}}</a></li>{{/if}}
                        {{#if theme_settings.footer_column2_link5_text}}<li><a href="{{theme_settings.footer_column2_link5_url}}">{{theme_settings.footer_column2_link5_text}}</a></li>{{/if}}
                        {{#if theme_settings.footer_column2_link6_text}}<li><a href="{{theme_settings.footer_column2_link6_url}}">{{theme_settings.footer_column2_link6_text}}</a></li>{{/if}}
                        {{#if theme_settings.footer_column2_link7_text}}<li><a href="{{theme_settings.footer_column2_link7_url}}">{{theme_settings.footer_column2_link7_text}}</a></li>{{/if}}
                    </ul>
                </div>
                <div class="col-3 col-sm-2">                   
                    <h5>Shop</h5>
                    <ul>
                        {{#each categories}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="col-4 col-sm-2"> 
                    <h5>Brands</h5>
                    {{#if shop_by_brand}}
                        {{> components/category/side-shop-by-brand}}
                    {{/if}}
                </div>
                <div class="col-5 col-sm-4">
                    {{#if settings.show_newsletter_box}} {{> components/common/subscription-form}} {{/if}}
                    {{> components/common/social-links}}
                </div>
            </div>
        </div>
    </section>
    <div id="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="footer-copyright-{{theme_settings.copyright_alignment}} col-sm-6">
                    {{#if theme_settings.show_copyright_footer}}
                        <div class="footer-copyright">
                            <p class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}}. </p>
                        </div>
                    {{/if}}

                    {{#if theme_settings.show_powered_by}}
                        <div class="powered-by">
                            <p>eCommerce Software by <a href="http://bigcommerce.com">BigCommerce</a></p>
                        </div>
                    {{/if}}

                    {{#if theme_settings.show_template_by}}
                        <div class="template-by">
                            <p>Bigcommerce Themes & Templates by <a href="http://themevale.com.com" target="_blank" rel="nofollow">ThemeVale.com</a></p>
                        </div>
                    {{/if}}
                </div>
                <div class="footer-payment col-sm-6">
                    <p>
                        {{#if theme_settings.footer_payment_logo1_image}}<a title="{{theme_settings.footer_payment_logo1_alt}}" href="{{theme_settings.footer_payment_logo1_link}}"><img src="{{theme_settings.footer_payment_logo1_image}}" alt="{{theme_settings.footer_payment_logo1_alt}}"></a>{{/if}}
                        {{#if theme_settings.footer_payment_logo2_image}}<a title="{{theme_settings.footer_payment_logo2_alt}}" href="{{theme_settings.footer_payment_logo2_link}}"><img src="{{theme_settings.footer_payment_logo2_image}}" alt="{{theme_settings.footer_payment_logo2_alt}}"></a>{{/if}}
                        {{#if theme_settings.footer_payment_logo3_image}}<a title="{{theme_settings.footer_payment_logo3_alt}}" href="{{theme_settings.footer_payment_logo3_link}}"><img src="{{theme_settings.footer_payment_logo3_image}}" alt="{{theme_settings.footer_payment_logo3_alt}}"></a>{{/if}}
                        {{#if theme_settings.footer_payment_logo4_image}}<a title="{{theme_settings.footer_payment_logo4_alt}}" href="{{theme_settings.footer_payment_logo4_link}}"><img src="{{theme_settings.footer_payment_logo4_image}}" alt="{{theme_settings.footer_payment_logo4_alt}}"></a>{{/if}}
                        {{#if theme_settings.footer_payment_logo5_image}}<a title="{{theme_settings.footer_payment_logo5_alt}}" href="{{theme_settings.footer_payment_logo5_link}}"><img src="{{theme_settings.footer_payment_logo5_image}}" alt="{{theme_settings.footer_payment_logo5_alt}}"></a>{{/if}}
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>

<a href="javascript:void(0);" id="back-to-top">Top</a>
