{{!-- Enhanced Product JSON-LD Schema for Google Shopping & Rich Snippets --}}
{{#if product}}
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Product",
  "name": {{json product.title}},
  {{#if product.images}}
  "image": [
    {{#each product.images}}
    "{{getImage this 'zoom_size'}}"{{#unless @last}},{{/unless}}
    {{/each}}
  ],
  {{else}}
  "image": "{{cdn 'img/ProductDefault.gif'}}",
  {{/if}}
  "description": {{json product.description}},
  {{#if product.sku}}
  "sku": {{json product.sku}},
  {{/if}}
  {{#if product.mpn}}
  "mpn": {{json product.mpn}},
  {{/if}}
  {{#if product.gtin}}
  "gtin": {{json product.gtin}},
  {{/if}}
  {{#if product.upc}}
  "gtin13": {{json product.upc}},
  {{/if}}
  {{#if product.brand.name}}
  "brand": {
    "@type": "Brand",
    "name": {{json product.brand.name}}
  },
  {{else}}
  "brand": {
    "@type": "Brand",
    "name": "{{settings.store_name}}"
  },
  {{/if}}
  {{#if product.num_reviews}}
  {{#if product.num_reviews '>' 0}}
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "{{product.rating}}",
    "reviewCount": "{{product.num_reviews}}",
    "bestRating": "5",
    "worstRating": "1"
  },
  {{/if}}
  {{/if}}
  {{#if product.reviews.list}}
  "review": [
    {{#each product.reviews.list}}
    {
      "@type": "Review",
      "author": {
        "@type": "Person",
        "name": {{json author.name}}
      },
      "datePublished": {{json date_created}},
      "reviewBody": {{json text}},
      "reviewRating": {
        "@type": "Rating",
        "ratingValue": "{{rating}}",
        "bestRating": "5",
        "worstRating": "1"
      }
    }{{#unless @last}},{{/unless}}
    {{/each}}
  ],
  {{/if}}
  {{#if product.price}}
  {{#unless (or (and product.price.with_tax (if product.price.with_tax.value '===' 0)) (and product.price.without_tax (if product.price.without_tax.value '===' 0)))}}
  "offers": {
    "@type": "Offer",
    "url": "{{product.url}}",
    "priceCurrency": "{{currency_selector.active_currency_code}}",
    "price": "{{#if product.price.with_tax}}{{product.price.with_tax.value}}{{else}}{{product.price.without_tax.value}}{{/if}}",
    "priceValidUntil": "2026-12-31",
    "itemCondition": "https://schema.org/NewCondition",
    "availability": "https://schema.org/{{#if product.out_of_stock}}OutOfStock{{else}}InStock{{/if}}",
    {{#if product.shipping}}
    {{#if product.shipping.price.value '===' 0}}
    "shippingDetails": {
      "@type": "OfferShippingDetails",
      "shippingRate": {
        "@type": "MonetaryAmount",
        "value": "0",
        "currency": "{{currency_selector.active_currency_code}}"
      },
      "shippingDestination": {
        "@type": "DefinedRegion",
        "addressCountry": "US"
      },
      "deliveryTime": {
        "@type": "ShippingDeliveryTime",
        "businessDays": {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
        }
      }
    },
    {{/if}}
    {{/if}}
    "seller": {
      "@type": "Organization",
      "name": "{{settings.store_name}}"
    }
  }
  {{else}}
  "offers": {
    "@type": "Offer",
    "url": "{{product.url}}",
    "availability": "https://schema.org/{{#if product.out_of_stock}}OutOfStock{{else}}InStock{{/if}}",
    "priceCurrency": "{{currency_selector.active_currency_code}}",
    "price": "0.00",
    "priceSpecification": {
      "@type": "PriceSpecification",
      "price": "0.00",
      "priceCurrency": "{{currency_selector.active_currency_code}}"
    },
    "seller": {
      "@type": "Organization",
      "name": "{{settings.store_name}}"
    }
  }
  {{/unless}}
  {{else}}
  "offers": {
    "@type": "Offer",
    "url": "{{product.url}}",
    "availability": "https://schema.org/InStock",
    "priceCurrency": "USD",
    "price": "0.00",
    "seller": {
      "@type": "Organization",
      "name": "{{settings.store_name}}"
    }
  }
  {{/if}}
}
</script>
{{/if}}
