<!-- @HaloMegaMenu Library -->
<script src="{{cdn '/assets/js/theme/halothemes/haloMegaMenu.js'}}" defer></script>
<script>
jQuery(document).ready(function($) {
    /* Megamenu Settings */
    // information at bottom categories with variable : bottomCates
    //bottomCates: '<div class="own-text"><p>free shipping in the u.s. & internationally</p></div>'

    menuItem(2).HaloMegaMenu({
        dropAlign: '{{#if theme_settings.megamenu_style}}{{#if theme_settings.megamenu_style '===' 'full_width'}}fullWidth{{else}}left{{/if}}{{else}}left{{/if}}',
        dropWidth: '700px',
        dropType: '{{#if theme_settings.megamenu_style}}{{#if theme_settings.megamenu_style '===' 'with_images'}}imageLeft{{else}}noImage{{/if}}{{else}}noImage{{/if}}',
        imageAreaWidth: '',
        cateAreaWidth: '100%',
        cateColumns: 3,
        addclass_special: 'position_image_right'
    });
    menuItem(3).HaloMegaMenu({
        dropAlign: '{{#if theme_settings.megamenu_style}}{{#if theme_settings.megamenu_style '===' 'full_width'}}fullWidth{{else}}left{{/if}}{{else}}left{{/if}}',
        dropWidth: '900px',
        dropType: 'imageTop',
        imageAreaWidth: '',
        cateAreaWidth: '100%',
        cateColumns: 4,
        // Featured images - customizable via Theme Editor
        imagesTop: [
            {{#if theme_settings.megamenu_featured_image1}}'<a href="{{theme_settings.megamenu_featured_link1}}"><img src="{{theme_settings.megamenu_featured_image1}}" alt="{{theme_settings.megamenu_featured_alt1}}"/></a>',{{/if}}
            {{#if theme_settings.megamenu_featured_image2}}'<a href="{{theme_settings.megamenu_featured_link2}}"><img src="{{theme_settings.megamenu_featured_image2}}" alt="{{theme_settings.megamenu_featured_alt2}}"/></a>'{{/if}}
        ],
        {{#if theme_settings.megamenu_custom_html_enabled}}
        bottomCates: '{{theme_settings.megamenu_custom_html}}'
        {{/if}}
    });
});
</script>
