{{#if theme_settings.home_shop_category_enabled}}
<div class="contCategory">
    <div class="hl-featured-category">
        <h2 class="module-heading">{{theme_settings.home_shop_category_heading}}</h2>
        <div class="featured_category_content">
            <div class="row-item owl-carousel"
                data-owl='{
                    "nav": true,
                    "dots": false,
                    "items": 5,
                    "margin": 25,
                    "slideBy": 5,
                    "responsive": {
                     "0": {
                        "items": 1,
                        "slideBy": 1,
                        "margin": 0
                     },
                     "480": {
                        "items": 2,
                        "slideBy": 2,
                        "margin": 0
                     },
                     "768": {
                        "items": 3,
                        "slideBy": 3
                     },
                     "992": {
                        "items": 4,
                        "slideBy": 4
                     },
                     "1199": {
                        "items": 5,
                        "slideBy":5
                     }
                  },
                  "responsiveRefreshRate": 0
                }'>
                {{#if theme_settings.home_category1_image}}
                <div class="item-category item">
                    <a href="{{theme_settings.home_category1_link}}" class="item-image">
                        <img src="{{theme_settings.home_category1_image}}" alt="{{theme_settings.home_category1_title}}" />
                    </a>
                    <h3><a href="{{theme_settings.home_category1_link}}" title="{{theme_settings.home_category1_title}}">{{theme_settings.home_category1_title}}</a></h3>
                </div>
                {{/if}}
                {{#if theme_settings.home_category2_image}}
                <div class="item-category item">
                    <a href="{{theme_settings.home_category2_link}}" class="item-image">
                        <img src="{{theme_settings.home_category2_image}}" alt="{{theme_settings.home_category2_title}}" />
                    </a>
                    <h3><a href="{{theme_settings.home_category2_link}}" title="{{theme_settings.home_category2_title}}">{{theme_settings.home_category2_title}}</a></h3>
                </div>
                {{/if}}
                {{#if theme_settings.home_category3_image}}
                <div class="item-category item">
                    <a href="{{theme_settings.home_category3_link}}" class="item-image">
                        <img src="{{theme_settings.home_category3_image}}" alt="{{theme_settings.home_category3_title}}" />
                    </a>
                    <h3><a href="{{theme_settings.home_category3_link}}" title="{{theme_settings.home_category3_title}}">{{theme_settings.home_category3_title}}</a></h3>
                </div>
                {{/if}}
                {{#if theme_settings.home_category4_image}}
                <div class="item-category item">
                    <a href="{{theme_settings.home_category4_link}}" class="item-image">
                        <img src="{{theme_settings.home_category4_image}}" alt="{{theme_settings.home_category4_title}}" />
                    </a>
                    <h3><a href="{{theme_settings.home_category4_link}}" title="{{theme_settings.home_category4_title}}">{{theme_settings.home_category4_title}}</a></h3>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{/if}}
