<div class="halo-best-selling-promotion">
  <div class="container">
    <ul class="list-top">
      <li class="hl-label">eMartica’s Best Selling:</li>
      <li><a href="#" title="Mobiles & Tablets Accessories">Mobiles & Tablets Accessories</a></li>
      <li><a href="#" title="Microsoft Surface Pro 3">Microsoft Surface Pro 3</a></li>
      <li><a href="#" title="Smart Watches">Smart Watches</a></li>
      <li><a href="#" title="PlayStation 4 Pro Console">PlayStation 4 Pro Console</a></li>
      <li><a href="#" title="Canon EOS 700D">Canon EOS 700D</a></li>
      <li><a href="#" title="Samsung Smart TVs">Samsung Smart TVs</a></li>
      <li><a href="#" title="Home Appliances">Home Appliances</a></li>
      <li><a href="#"><span>Macenas Conguros</span></a></li>      
      <li><a href="#"><span>Sustoproines</span></a></li>      
      <li><a href="#"><span>Destetos Harcudos</span></a></li>
      <li class="showMore"><a href="javascript:void(0)">... More</a></li>
    </ul>

  </div>
</div>
{{#if page_type '==' 'default' }}
<div class="halo-custom-html-block hidden-mobile">
    <div class="container">
        <div class="row">
              <label class="hl-label">{{#if settings.home_custom_html_label}}{{settings.home_custom_html_label}}{{else}}The Store Advantage{{/if}}</label>
              <div class="box wow fadeInUp" data-wow-delay="200ms">
                  <span class="icon"><i class="fa {{#if settings.home_custom_box1_icon}}{{settings.home_custom_box1_icon}}{{else}}fa-check{{/if}}"></i></span>
                  <h4>{{#if settings.home_custom_box1_title}}{{settings.home_custom_box1_title}}{{else}}Shop with confidence{{/if}}</h4>
              </div>
              <div class="box wow fadeInUp" data-wow-delay="300ms">
                  <span class="icon"><i class="fa {{#if settings.home_custom_box2_icon}}{{settings.home_custom_box2_icon}}{{else}}fa-cog{{/if}}"></i></span>
                  <h4>{{#if settings.home_custom_box2_title}}{{settings.home_custom_box2_title}}{{else}}Customizable PCs{{/if}}</h4>
              </div>
              <div class="box last wow fadeInUp" data-wow-delay="400ms">
                  <span class="icon"><i class="fa {{#if settings.home_custom_box3_icon}}{{settings.home_custom_box3_icon}}{{else}}fa-star{{/if}}"></i></span>
                  <h4>{{#if settings.home_custom_box3_title}}{{settings.home_custom_box3_title}}{{else}}Rewards Program{{/if}}</h4>
              </div>
              <div class="box last wow fadeInUp" data-wow-delay="500ms">
                  <span class="icon"><i class="fa {{#if settings.home_custom_box4_icon}}{{settings.home_custom_box4_icon}}{{else}}fa-rotate-left{{/if}}"></i></span>
                  <h4>{{#if settings.home_custom_box4_title}}{{settings.home_custom_box4_title}}{{else}}14-Day Free Returns{{/if}}</h4>
              </div>
        </div>
    </div>
</div>
<div class="halo-custom-html-block hidden-pc">
    <div class="owl-carousel" data-owl='{
        "items": 1,
        "nav": true,
        "dots": false,
        "slideBy": 1,
        "responsive": {
           "0": {
              "items": 1,
              "slideBy": 1
           },
           "480": {
              "items": 1,
              "slideBy": 1
           },
           "600": {
              "items": 2,
              "slideBy": 2
           }
        },
        "responsiveRefreshRate": 0
     }'>
        <div class="box wow fadeInUp" data-wow-delay="200ms">
            <span class="icon"><i class="fa {{#if settings.home_custom_box1_icon}}{{settings.home_custom_box1_icon}}{{else}}fa-check{{/if}}"></i></span>
            <h4>{{#if settings.home_custom_box1_title}}{{settings.home_custom_box1_title}}{{else}}Shop with confidence{{/if}}</h4>
        </div>
        <div class="box wow fadeInUp" data-wow-delay="300ms">
            <span class="icon"><i class="fa {{#if settings.home_custom_box2_icon}}{{settings.home_custom_box2_icon}}{{else}}fa-cog{{/if}}"></i></span>
            <h4>{{#if settings.home_custom_box2_title}}{{settings.home_custom_box2_title}}{{else}}Customizable PCs{{/if}}</h4>
        </div>
        <div class="box last wow fadeInUp" data-wow-delay="400ms">
            <span class="icon"><i class="fa {{#if settings.home_custom_box3_icon}}{{settings.home_custom_box3_icon}}{{else}}fa-star{{/if}}"></i></span>
            <h4>{{#if settings.home_custom_box3_title}}{{settings.home_custom_box3_title}}{{else}}Rewards Program{{/if}}</h4>
        </div>
        <div class="box last wow fadeInUp" data-wow-delay="500ms">
            <span class="icon"><i class="fa {{#if settings.home_custom_box4_icon}}{{settings.home_custom_box4_icon}}{{else}}fa-rotate-left{{/if}}"></i></span>
            <h4>{{#if settings.home_custom_box4_title}}{{settings.home_custom_box4_title}}{{else}}14-Day Free Returns{{/if}}</h4>
        </div>
    </div>
</div>
{{/if}}
