<div class="contCategory">
    <div class="hl-featured-category">
        <h2 class="module-heading">{{theme_settings.home_top_categories_heading}} <span>{{theme_settings.home_top_categories_highlight}}</span></h2>
        <div class="featured_category_content">
            <div class="row-item owl-carousel"
                data-owl='{
                    "nav": true,
                    "dots": false,
                    "items": 5,
                    "margin": 25,
                    "slideBy": 5,
                    "responsive": {
                     "0": {
                        "items": 1,
                        "slideBy": 1,
                        "margin": 0
                     },
                     "480": {
                        "items": 2,
                        "slideBy": 2,
                        "margin": 0
                     },
                     "768": {
                        "items": 3,
                        "slideBy": 3
                     },
                     "992": {
                        "items": 4,
                        "slideBy": 4
                     },
                     "1199": {
                        "items": 5,
                        "slideBy":5
                     }
                  },
                  "responsiveRefreshRate": 0
                }'>
                {{#if theme_settings.home_top_category1_title}}
                <div class="item-category item">
                    {{#if theme_settings.home_top_category1_image}}<a href="{{theme_settings.home_top_category1_url}}" class="item-image"><img src="{{theme_settings.home_top_category1_image}}" alt="{{theme_settings.home_top_category1_title}}" /></a>{{/if}}
                    <h3><a href="{{theme_settings.home_top_category1_url}}" title="{{theme_settings.home_top_category1_title}}">{{theme_settings.home_top_category1_title}}</a></h3>
                    {{#if theme_settings.home_top_category1_text}}<p>{{theme_settings.home_top_category1_text}}</p>{{/if}}
                </div>
                {{/if}}
                {{#if theme_settings.home_top_category2_title}}
                <div class="item-category item">
                    {{#if theme_settings.home_top_category2_image}}<a href="{{theme_settings.home_top_category2_url}}" class="item-image"><img src="{{theme_settings.home_top_category2_image}}" alt="{{theme_settings.home_top_category2_title}}" /></a>{{/if}}
                    <h3><a href="{{theme_settings.home_top_category2_url}}" title="{{theme_settings.home_top_category2_title}}">{{theme_settings.home_top_category2_title}}</a></h3>
                    {{#if theme_settings.home_top_category2_text}}<p>{{theme_settings.home_top_category2_text}}</p>{{/if}}
                </div>
                {{/if}}
                {{#if theme_settings.home_top_category3_title}}
                <div class="item-category item">
                    {{#if theme_settings.home_top_category3_image}}<a href="{{theme_settings.home_top_category3_url}}" class="item-image"><img src="{{theme_settings.home_top_category3_image}}" alt="{{theme_settings.home_top_category3_title}}" /></a>{{/if}}
                    <h3><a href="{{theme_settings.home_top_category3_url}}" title="{{theme_settings.home_top_category3_title}}">{{theme_settings.home_top_category3_title}}</a></h3>
                    {{#if theme_settings.home_top_category3_text}}<p>{{theme_settings.home_top_category3_text}}</p>{{/if}}
                </div>
                {{/if}}
                {{#if theme_settings.home_top_category4_title}}
                <div class="item-category item">
                    {{#if theme_settings.home_top_category4_image}}<a href="{{theme_settings.home_top_category4_url}}" class="item-image"><img src="{{theme_settings.home_top_category4_image}}" alt="{{theme_settings.home_top_category4_title}}" /></a>{{/if}}
                    <h3><a href="{{theme_settings.home_top_category4_url}}" title="{{theme_settings.home_top_category4_title}}">{{theme_settings.home_top_category4_title}}</a></h3>
                    {{#if theme_settings.home_top_category4_text}}<p>{{theme_settings.home_top_category4_text}}</p>{{/if}}
                </div>
                {{/if}}
                {{#if theme_settings.home_top_category5_title}}
                <div class="item-category item">
                    {{#if theme_settings.home_top_category5_image}}<a href="{{theme_settings.home_top_category5_url}}" class="item-image"><img src="{{theme_settings.home_top_category5_image}}" alt="{{theme_settings.home_top_category5_title}}" /></a>{{/if}}
                    <h3><a href="{{theme_settings.home_top_category5_url}}" title="{{theme_settings.home_top_category5_title}}">{{theme_settings.home_top_category5_title}}</a></h3>
                    {{#if theme_settings.home_top_category5_text}}<p>{{theme_settings.home_top_category5_text}}</p>{{/if}}
                </div>
                {{/if}}
                {{#if theme_settings.home_top_category6_title}}
                <div class="item-category item">
                    {{#if theme_settings.home_top_category6_image}}<a href="{{theme_settings.home_top_category6_url}}" class="item-image"><img src="{{theme_settings.home_top_category6_image}}" alt="{{theme_settings.home_top_category6_title}}" /></a>{{/if}}
                    <h3><a href="{{theme_settings.home_top_category6_url}}" title="{{theme_settings.home_top_category6_title}}">{{theme_settings.home_top_category6_title}}</a></h3>
                    {{#if theme_settings.home_top_category6_text}}<p>{{theme_settings.home_top_category6_text}}</p>{{/if}}
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
