<div class="container">
   <div id="homeBrands">
        <div class="owl-carousel" data-owl='{
            "items": 5,
            "nav": true,
            "dots": false,
            "slideBy": 5,
            "responsive": {
               "0": {
                  "items": 1,
                  "slideBy": 1
               },
               "480": {
                  "items": 2,
                  "slideBy": 2
               },
               "768": {
                  "items": 3,
                  "slideBy": 3
               },
               "991": {
                  "items": 4,
                  "slideBy": 4
               },
               "1200": {
                  "items": 5,
                  "slideBy": 5
               }
            },
            "responsiveRefreshRate": 0
         }'>
            {{#if theme_settings.home_brand_slider_item1_image}}
            <a href="{{theme_settings.home_brand_slider_item1_link}}" title="{{theme_settings.home_brand_slider_item1_alt}}"><img src="{{theme_settings.home_brand_slider_item1_image}}" alt="{{theme_settings.home_brand_slider_item1_alt}}" /></a>
            {{/if}}
            {{#if theme_settings.home_brand_slider_item2_image}}
            <a href="{{theme_settings.home_brand_slider_item2_link}}" title="{{theme_settings.home_brand_slider_item2_alt}}"><img src="{{theme_settings.home_brand_slider_item2_image}}" alt="{{theme_settings.home_brand_slider_item2_alt}}" /></a>
            {{/if}}
            {{#if theme_settings.home_brand_slider_item3_image}}
            <a href="{{theme_settings.home_brand_slider_item3_link}}" title="{{theme_settings.home_brand_slider_item3_alt}}"><img src="{{theme_settings.home_brand_slider_item3_image}}" alt="{{theme_settings.home_brand_slider_item3_alt}}" /></a>
            {{/if}}
            {{#if theme_settings.home_brand_slider_item4_image}}
            <a href="{{theme_settings.home_brand_slider_item4_link}}" title="{{theme_settings.home_brand_slider_item4_alt}}"><img src="{{theme_settings.home_brand_slider_item4_image}}" alt="{{theme_settings.home_brand_slider_item4_alt}}" /></a>
            {{/if}}
            {{#if theme_settings.home_brand_slider_item5_image}}
            <a href="{{theme_settings.home_brand_slider_item5_link}}" title="{{theme_settings.home_brand_slider_item5_alt}}"><img src="{{theme_settings.home_brand_slider_item5_image}}" alt="{{theme_settings.home_brand_slider_item5_alt}}" /></a>
            {{/if}}
            {{#if theme_settings.home_brand_slider_item6_image}}
            <a href="{{theme_settings.home_brand_slider_item6_link}}" title="{{theme_settings.home_brand_slider_item6_alt}}"><img src="{{theme_settings.home_brand_slider_item6_image}}" alt="{{theme_settings.home_brand_slider_item6_alt}}" /></a>
            {{/if}}
         </div>
    </div>
</div>
